<% include ./partials/header.ejs %>

<link rel="stylesheet" href="../stylesheets/profile.css">

<div id="back">
    <div class="container">
        <div class="bluebox">
            <h1>Profile</h1>
            <h2>Welcome back</h2>
            <div class="logoutBtn">
                <a href="#">Logout</a>
            </div>
            <div class="prflcrcl"></div>
        </div>
    </div>
</div>


<% include ./partials/footer.ejs %>